@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700;900&display=swap');

.montserrat-regular {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.playfair-display-sc-regular {
  font-family: "Playfair Display SC", serif;
  font-weight: 400;
  font-style: normal;
}

.playfair-display-sc-bold {
  font-family: "Playfair Display SC", serif;
  font-weight: 700;
  font-style: normal;
}

.playfair-display-sc-black {
  font-family: "Playfair Display SC", serif;
  font-weight: 900;
  font-style: normal;
}

:root {
    --one-light: #f2e9e4;
    --two-pink: #c9ada7;
    --three-purple: #9a8c98;
    --four-blue: #4a4e69;
    --five-dark: #22223b;
}

.bg-one-light {
    background-color: var(--one-light);
}

.bg-two-pink {
    background-color: var(--two-pink);
}

.bg-three-purple {
    background-color: var(--three-purple);
}

.bg-four-blue {
    background-color: var(--four-blue);
}

.bg-five-dark {
    background-color: var(--five-dark);
}

.text-one-light {
    color: var(--one-light);
}

.text-five-dark {
    color: var(--five-dark);
}

.btn-square {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    opacity: 0.5;
}

.btn-square:hover {
    opacity: 1;
    transition: 0.5s;
}